@import '@fontsource-variable/dm-sans';
@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'DM Sans Variable', sans-serif;
  --color-green-50: #f2f8f3;
  --color-green-100: #e1eee5;
  --color-green-200: #c1decb;
  --color-green-300: #98c6ab;
  --color-green-400: #6aa786;
  --color-green-500: #408667;
  --color-green-600: #2d6b50;
  --color-green-700: #24563f;
  --color-green-800: #1d4836;
  --color-green-900: #143e32;
  --color-green-950: #0b2820;
}

:root {
  --ui-primary: #143e32;
  --ui-bg: #fcfcf8;
  --ui-text: #172f27;
  color-scheme: light;
}
